.c_pointer {
  cursor: pointer;
}

#accordionSidebar {
  transition: all 0.3s ease;
}

.alert-transition {
  transition: all 0.3s ease;
}

.invalid-input {
  box-shadow: 0 0 5px red;
}

.loading_container{
  text-align: center;
  padding: 20px;
}